@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* share style */
.display-flex{
    display: flex;
}
.text-primary{
    color: #3A3A3A;
}
.btn-prymary{
    color: white;
    background-color: #E02C6D;
    font-weight: 700;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 41px;
}

/* nav style */
.navbr {
    width: 100%;
    margin: 0 auto;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
header {
 max-width: 1440px;
 margin: 0 auto;
}

.nav-link{
 text-decoration: none;
}
.nav-item {
    list-style: none;
    margin-right: 20px;
}

/* banner section */
.banner{
    justify-content: space-between;
    margin-top: 50px;
}
.bg-img{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    padding: 30px;
}
.banner-content{
    max-width: 580px;
    padding-top: 20px;

}

.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 5px;
}

/* company section */
main{
    max-width: 1440px;
    margin: 80px 150px;
}
.company{
    max-width: 100%;
    
}
.company-logo{
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    /* border: 1px solid #C0CCDA; */
    box-shadow: 1px 1px 1px 1px #C0CCDA;
    padding: 20px;
}


/* card section */
.card-section{
    margin-top: 100px;
}
.card-title{
    text-align: center;
}
.card-store{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}
.card-container{
    background-color: #fafafa;
    padding: 20px;
}
.card{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
.card img{
    width: 100%;
}
.card-text{
    margin-top: 10px;
}
.card-item-name{
    margin-bottom: 10px;
}
.card-text h5{
    margin-top: 10px;
}
.review-star{
    display: flex;
    align-items: center;
    margin-top: calc(-20px);
}
.review-star p{
    margin-left: 7px;
}
.card-description{
    margin-top: calc(-10px);
}

.card-btn{
    color: #E02C6D;
    background-color: white;
    float: inline-end;
    border: none;
    padding: 20px;
    margin-top: 10px;
}

/* responsive for small device */

@media screen and (max-width:576px) {
    .navbar ,.banner ,ul {
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
    }
        .banner-content{
            text-align: center;
            padding: 20px;
        }
        .bg-img{
            width: 100%;
            margin-left: calc(-75px);
            
        }
        .banner-img{
            
            margin-left: 15px;
        }

        /* company */
                main {
                    max-width: 100%;
                    margin: 0 auto;
                }
                .company-logo {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr) ;
                    justify-items: center;
                    margin-top: 20px;
                }
                .company-logo img{
                    margin-top: 10px;
                }

                /* card-section */
                .card-store {
                               display: grid;
                               grid-template-columns: repeat(1, 1fr);
                           }
    }


    /* responsive for medium device */
    @media screen and (min-width : 576px) and (max-width : 992px) {
        main {
                max-width: 100%;
                margin: 0 auto;
            }
        
            .company-logo {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                justify-items: center;
                margin-top: 40px;
            }
        
            .company-logo img {
                margin-top: 20px;
            }
                .card-store {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
    }